<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
	<!-- <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> -->

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">

	<style>
		.side-nav-fixed { position: fixed; }
	</style>

  </head>

  <body>
	<section class="content"> 
		<section class="container-fluid"> 
			<section class="row">
				
				<!--side navigaton-->
				<section class="col-md-2">
					<nav class="side-nav-fixed">
						<ul class="nav nav-sidebar">
							<h5>English</h5>
							<li><a href="#/chords/canonind">Canon in D</a></li>
							<li><a href="#/chords/stairwaytoheaven">Stairway to heaven</a></li>
						</ul>
						<ul class="nav nav-sidebar">
							<h5>Vietnamese</h5>
							<!--<li><a href="#/chords/tuongniem">Tuong Niem</a></li>-->
							<li><a href="http://localhost:8081/index.html#/main/chords#tuongniem">Tưởng niệm</a></li>
							<li><a href="http://localhost:8081/index.html#/main/chords#thuongnhaungaymua">Thương nhau ngày mưa</a></li>
							<li><a href="http://localhost:8081/index.html#/main/chords#riengmotgoctroi">Riêng một góc trời</a></li>
							<li><a href="http://localhost:8081/index.html#/main/chords#nhumotloichiatay">Như một lời chia tay</a></li>
							<li><a href="http://localhost:8081/index.html#/main/chords#dauchandiadang">Dấu chân địa đàng</a></li>
						</ul>
						<ul class="nav nav-sidebar">
							<h5>Vietnamese</h5>
							<li><a href="http://localhost:8081/index.html#/main/chords#benemdangcota">Bên em đang có ta</a></li>
							<li><a href="http://localhost:8081/index.html#/main/chords#vietnamvetrongnoinho">Viêt Nam về trong nỗi nhớ</a></li>
							<li><a href="#/chords/motngayvietnam">Một Ngày Việt Nam</a></li>
							<li><a href="http://localhost:8081/index.html#/main/chords#duabe">Đứa bé</a></li>
							<li><a href="http://localhost:8081/index.html#/main/chords#mocoi">Mồ côi</a></li>
							<li><a href="http://localhost:8081/index.html#/main/chords#cadaume">Ca Dao Mẹ</a></li>
						</ul>
					</nav>
				</section>
				
				<!--all chorded songs are here-->
      			<section class="col-md-10">

				<!--<a href="http://localhost:8081/index.html#/main/chords#" ng-model="collapsed" ng-click="collapsed=!collapsed">Click here to <strong>Toggle (show/hide)</strong> description</a>-->
				<h1>how to do collapse</h1>
				<a href="" ng-model="collapsed" ng-click="collapsed=!collapsed">Click here to <strong>Toggle (show/hide)</strong> description</a>
				<div ng-show="collapsed">I am description for the above title, which was collapsed by default</div>


					<article id="tuongniem">
						<h2>Tưởng niệm </h2>
						<p><strong>Sáng tác: Trầm Tử Thiêng</strong></p>
						<div>1. Ta nghiêng [Am] tai nghe lại cuộc đời<br>
						Thì hãi hùng hoàng hôn chợt [F] tới<br>
						Ta nghiêng [Dm] vai soi lại tình [Am] người<br>
						Thì bóng [E] chiều chìm xuống đôi [E7] môi.<br>
						<br>
						Đang mân [Am] mê cho đời nở [G] hoa<br>
						Chợt bàng [F] hoàng đến kỳ trăn [E7] trối<br>
						Đang nâng [Am] niu cuộc tình lộng [F] lẫy<br>
						Bỗng ngỡ [E7] ngàng vụt mất trên [Am] tay.<br>
						<br>
						ĐK: Ta khổ đau một [C] đời để chết trong tình [Am] cờ<br>
						Ta tìm nhau một [G] thời để mất nhau vài [C] giờ<br>
						Bàn tay làm sao [Em] níu một đời vừa đi [Dm] qua<br>
						Bàn tay làm sao [C] giữ một thời yêu thiết [E7] tha.<br>
						<br>
						2. Mang ơn [Am] em trao tình một lần<br>
						Là kỷ niệm dù không đầm [F] ấm<br>
						Mang ơn [Dm] em đau khổ thật [Am] đầy<br>
						Là nắng [E] vàng dù nhốt trong [E7] mây.<br>
						<br>
						Mang ơn [Am] trên cho cuộc đời [G] ta<br>
						Vài vạn [F] ngày gió cuồng mưa [E7] lũ<br>
						Trong cơn [Am] đau một vùng hương [F] khói<br>
						Kéo ta [E7] về về cõi hư [Am] vô.</div>
						<br>
						------------------------------
						<br>
						<strong>+ Tone ca sĩ:<br></strong>
						- Tuấn Ngọc&nbsp;[Bbm]&nbsp;- Nguyên Khang&nbsp;[Bbm]&nbsp;<br>- Lệ Thu&nbsp;[Ebm]&nbsp;- Ngọc Lan&nbsp;[Em]&nbsp; <br><br>
						<div><em>Nguồn: http://hopamviet.com/chord/song/tuong-niem/W8IUIZOZ.html</em></div>
					</article>
					
					<article id="duabe">
						<h2> Đứa bé </h2>
						<p><strong>Sáng tác: Minh Khang</strong></p>
						<div>1. [A] Trong đêm một bàn [F#m] chân bước<br>
						Bé [Bm] xíu lang thang [E] trên đường<br>
						Ánh mắt [F#m] buồn mệt nhoài của [C#m] em<br>
						Em rất [F#m] buồn vì em không biết [E] đi đi về [F#m] đâu.<br>
						<br>
						Cuộc [A] sống mưu [E] sinh chỉ làm [F#m] em qua cơn đói [C#m] từng ngày<br>
						Vì [D] em không cha vì [F#m] em đã mất mẹ<br>
						Thương [Bm] đau vẫn là đau [E7] thương.<br>
						<br>
						2. [A] Em mơ một vì [F#m] sao sáng<br>
						Dẫn [Bm] lối em trên đường [E] đời<br>
						Dẫu biết [F#m] rằng chỉ là giấc [C#m] mơ<br>
						Đã lâu [F#m] rồi em đã [E] không không có tình [F#m] thương<br>
						<br>
						Nhìn [A] thấy ai [E] ai cũng đều [F#m] vui bên [C#m] mẹ cha<br>
						Giọt [D] lệ em tuôn rơi hòa [F#m] tan với nỗi buồn<br>
						Bước [E] đi trong chiều [A] mưa. [E7]<br>
						<br>
						3. [A] Hãy lau [E] khô cuộc đời [F#m] em<br>
						Bằng tình [D] thương lòng nhân [Bm] ái của con [E7] người<br>
						Và [A] hãy lau [E] khô giọt nước [F#m] mắt trong lòng [C#m] em<br>
						Bằng tất [D] cả trái [E7] tim con người Việt [A] Nam.</div>
						<br>
						------------------------------
						<br>
						<strong>+ Tone ca sĩ:<br></strong>
						- 60 nghệ sĩ&nbsp;[A]&nbsp;- Tốp ca&nbsp;[A]&nbsp;<br> <br><br>
						<div><em>Nguồn: http://hopamviet.com/chord/song/dua-be/W8IUIU6E.html</em></div>
					</article>

					<article id="mocoi">
						<h2>Mồ côi </h2>
						<p><strong>Sáng tác: Minh Khang</strong></p>
						<div>Sáng [Bm] nay con thắp hương cầu xin [Em] cha mẹ<br>
						Được bình [Bm] an được cảm [D] thông và được sẻ [Em] chia<br>
						Vì con là trẻ mồi [A] côi, khi tủi [D] thân con một mình con [G] khóc<br>
						Con [C] mơ bàn tay [D] cha bờ vai [G] mẹ để [Bm] con ôm khóc thật [Em] nhiều.<br>
						<br>
						ĐK:<br>
						Con [G] biết ở trên thiên [Em] đàng mẹ [Am] cha dõi theo từng [C] ngày<br>
						Chở [D] che những khi con [C] ngã, những [D] khi lạc [G] bước [Bm]<br>
						Con [Em] biết ở trên thiên [C] đàng, mẹ [D] cha vẫn luôn bên [C] cạnh<br>
						Khi trời [D] mưa khi trở [Bm] gió khi ốm đau triền [Em] miên.</div>
						<br>
						------------------------------
						<br>
						<strong>+ Tone ca sĩ:<br></strong>
						- Chí Thiện &amp; Bảo An&nbsp;[F#m]&nbsp; <br><br>
						<div><em>Nguồn: http://hopamviet.com/chord/song/mo-coi/W8IUW89W.html</em></div>
						</div>
					</article>

					<article id="cadaume">
						<h2>Ca dao mẹ </h2>
						<p><strong>Sáng tác: Trịnh Công Sơn</strong></p>
						<div>1. Mẹ ngồi ru [Dm] con đong đưa võng [C] buồn đong đưa võng [C] buồn [Dm]<br>
						Mẹ ngồi ru [Dm] con mây qua đầu [C] ghềnh lạy trời mưa [F] tuôn<br>
						Lạy trời mưa [C] tuôn cho đất sợi mềm hạt mầm vun [Dm] lên<br>
						Mẹ ngồi ru [C] con nước mắt nhọc [Dm] nhằn xót [A7] xa đời [Dm] mình<br>
						<br>
						2. Mẹ ngồi ru [Dm] con đong đưa võng [C] buồn năm qua tuổi [C] mòn [Dm]<br>
						Mẹ nhìn quê [Dm] hương nghe con mình [C] buồn giọt lệ ăn [F] năn<br>
						Giọt lệ ăn [C] năn đưa con về trần tủi nhục chung [Dm] thân<br>
						Một dòng sông [C] trôi cuốn mãi về [Dm] trời bấp [A7] bênh phận [Dm] người<br>
						<br>
						ĐK: Mẹ ngồi ru [C] con tiếng hát lênh [Dm] đênh<br>
						Mẹ ngồi ru [F] con ru mây vào [Dm] hồn<br>
						Mẹ dạy cho [Dm] con tiếng nói quê [Gm] hương<br>
						Mẹ nhìn con [Dm] đi phút giây bàng [C] hoàng<br>
						<br>
						3. Mẹ ngồi ru [Dm] con đong đưa võng [C] buồn đong đưa phận [C] mình [Dm]<br>
						Mẹ ngồi ru [Dm] con nghe đất gọi [C] thầm trọn nợ lưu [F] vong<br>
						Mẹ ngồi trăm [C] năm như thân tượng buồn để lại quê [Dm] hương<br>
						Tuổi còn bơ [C] vơ thế giới hận [Dm] thù chiến [A7] tranh ngục [Dm] tù.</div>
						<br>
						------------------------------
						<br>
						<strong>+ Tone ca sĩ:<br></strong>
						- Quang Dũng&nbsp;[Dm]&nbsp;- Khánh Ly&nbsp;[Gm]&nbsp;<br>- Hồng Hạnh&nbsp;[Am]&nbsp;- Ý Lan&nbsp;[Am]&nbsp; <br><br>
						<div><em>Nguồn: http://hopamviet.com/chord/song/ca-dao-me/W8IUIW60.html</em></div>
						</div>
					</article>

					<article id="vietnamvetrongnoinho">
						<h2> Viêt Nam về trong nỗi nhớ </h2>
						<p><strong>Sáng tác: Trúc Hồ &amp; Trầm Tử Thiêng</strong></p>
						<div>Intro: [Am][G][F][Am] x 2<br>
						<br>
						Hình [Am] bóng cố hương nghìn [G] năm, gọi [F] ta như sóng xô [Am] bờ <br>
						Thành những bước chân mộng [G] du, men theo lối về quê [Am] cũ <br>
						Để [Dm] nghe con sông con [F] suối với mái [C] tranh cây đa đầu [G] làng <br>
						Cùng [Am] trách những câu thật [G] đau: " Người [F] đi đi mãi mới [Am] về " [C][G][F][Am]<br>
						<br>
						Làng xóm xiết bao tình [G] thân, ngày [F] xưa như mới hôm [Am] nào <br>
						Mẹ nấu chín xong nồi [G] khoai, quanh thôn tiếng gà eo [Am] ốc <br>
						Bình [Dm] minh vang sau khóm [F] trúc, hứa mang [C] thêm tin vui một [G] ngày <br>
						Làng [Am] xóm xiết bao tình [G] thân, ngày xưa [F] như mới hôm [Am] nào [C][G][F][Am]<br>
						<br>
						Hình bóng ấu thơ còn [G] đâu, từ [F] khi lên sáu lên [Am] mười <br>
						Đàn đúm hát câu đồng [G] dao, trên không cánh diều căng [Am] gió <br>
						Tuổi [Dm] thơ thơm như sách [F] mới, sáng như [C] gương soi lên mặt [G] trời <br>
						Chờ [Am] tối đến mơ gặp [G] tiên, cùng [F] bay đua khắp trăm [Am] miền<br>
						<br>
						[C] Với bóng mát xa tuổi [G] thơ thân yêu đâu vì [F] đâu vang vang nỗi [E7] nhớ <br>
						[C] Với tiếng hát bên vành [G] nôi năm xưa ru mẹ [F] ru, ru hỡi ru [Am] hời ([C][G][F][Am] x 2)<br>
						<br>
						Nhiều lúc thức nguyên cả [G] đêm, đàn [F] ca như trút nỗi [Am] niềm <br>
						Nhạc rap với âm điệu [G] soul, thua câu hát vè điệu [Am] lý <br>
						Dù [Dm] quen bao nhiêu cô [F] gái, có mắt [C] xanh Tina, Ro-[G] sa <br>
						Lòng [Am] vẫn cứ không bình [G] yên, bằng [F] yêu tên Thúy tên [Am] Hồng [C][G][F][Am]<br>
						<br>
						Đời sống với bao nổi [G] trôi, buồn [F] đau pha lẫn tiếng [Am] cười <br>
						Nhiều lúc giữa nơi phồn [G] hoa, bon chen guốc giày xe [Am] pháo <br>
						Lòng [Dm] chưa quên đôi chân [F] đất, bước gian [C] nan đi trên quê [G] nghèo <br>
						Giờ [Am] có trách ai hận [G] ai, thì [F] con tim vẫn thua [Am] dài<br>
						<br>
						[C] Hỡi những bước chân VIệt [G] Nam lưu vong đang còn [F] phiêu du trên thế [E7] giới <br>
						[C] Hãy cất tiếng ca cùng [G] tôi câu ca mang tình [F] thương gởi tới quê [Am] nhà ([C][G][F][Am] x 2)<br>
						<br>
						Một thoáng đã bao đổi [G] thay, giờ [F] đây vui ít hơn [Am] buồn <br>
						Tìm mãi có đâu ngày [G] xưa, quanh năm phố phường huyên [Am] náo <br>
						Đường [Dm] quen xuôi chân anh [F] tới, có ơn [C] em cho anh tình [G] đầu<br>
						Rồi [Am] cứ vẫn như phụ [G] nhau, từ [F] khi hai đứa hai [Am] trời [C][G][F][Am]<br>
						<br>
						Cuộc sống lúc chia đều [G] nhau, giờ [F] sao bên khuyết bên [Am] đầy <br>
						Để những bước chân trẻ [G] thơ, lang bang dưới gầm cao [Am] ốc <br>
						Đời [Dm] đôi khi quên nuôi [F] nấng, những đứa [C] con chơ vơ lạc [G] loài<br>
						Giọt [Am] máu ném ra ngoài [G] sân, thì [F] em trong số vô [Am] phần<br>
						<br>
						[C] Có những lúc rơi lệ [G] trên mi ai trách đời [F] nhau xa nhau lâu [E7] quá <br>
						[C] Có tiếng hát vang động [G] trên đôi freeway mang lời [F] ca thương xót quê [Am] nhà<br>
						<br>
						Người dẫu cố quên thì [G] quên, lòng [F] ta nỗi nhớ vẫn [Am] đầy <br>
						Mặt nước nhớ bao đời [G] sông, chim muông nhớ rừng nhớ [Am] núi <br>
						Bàn [Dm] chân phiêu lưu khắp [F] lối, nhớ năm [C] xưa trong tay mẹ [G] hiền <br>
						Ngày [Am] trước nhớ con đường [G] đi, giờ [F] ta vẫn nhớ lối [Am] về <br>
						<br>
						Hình bóng cố hương nghìn [G] năm, gọi [F] ta như sóng xô [Am] bờ <br>
						Càng tiếc nhớ bao thời [G] xưa, quê hương bếp hồng lửa [Am] ấm <br>
						Tình [Dm] ta khôn nguôi mơ [F] ước, nối bên [C] đây bên kia chung [G] lòng <br>
						Để [Am] mãi mãi cho ngày [G] mai, đường quê hương nối thêm [Am] dài<br>
						<br>
						[C] Hỡi kiếp sống mang khổ [G] đau chưa qua bên niềm [F] mơ tương lai chưa [E7] tới <br>
						[C] Hãy cất tiếng qua đại [G] dương mênh mông ta cùng [F] ca chung nỗi mong [Am] chờ <br>
						[C] Hỡi những bước chân VIệt [G] Nam lưu vong đang còn [F] chu du trên thế [E7] giới <br>
						[C] Hãy cất tiếng ca cùng [G] tôi câu ca mang tình [F] thương gởi tới quê [Am] nhà <br>
						[C] Hỡi những bước chân VIệt [G] Nam lưu vong đang còn [F] gian nan trong nỗi [E7] nhớ <br>
						[C] Hãy cất tiếng ca cùng [G] tôi câu ca mang tình [F] thương gởi tới quê [Am] nhà [C][G][F][Am]<br>
						</div>
						<br>
						------------------------------
						<br>
						<strong>+ Tone ca sĩ:<br></strong>
						- Hợp ca Asia&nbsp;[Am]&nbsp; <br><br>
						<div><em>Nguồn: http://hopamviet.com/chord/song/viet-nam-ve-trong-noi-nho/W8IUWO6O.html</em></div>
					</article>	

					<article id="benemdangcota">
						<h2>Bên em đang có ta </h2>
						<p><strong>Sáng tác: Trầm Tử Thiêng &amp; Trúc Hồ</strong></p>
						<div>[C] Bao nhiêu em bé [Em] thơ, như nụ [Dm] hoa dưới mặt [Am] trời<br>
						Cười hồn [Dm] nhiên tung tăng hát [G] vang, mừng nắng [C] tươi<br>
						Bao nhiêu em bé [Em] thơ, như nụ [Dm] hoa dưới mặt [Am] trời<br>
						Rời lòng [Dm] nôi trong đêm gió [G] mưa, ra biển [C] khơi.<br>
						<br>
						[C] Mẹ yêu em thiết [Em] tha, hơn mùa [Dm] xuân trong cuộc [Am] đời<br>
						Chờ nhìn [Dm] con theo hoa hướng [G] dương, tìm nắng [C] soi<br>
						Cha yêu em thiết [Em] tha, mang gởi [Dm] con cho tình [Am] người<br>
						Mặc đại [Dm] dương mênh mông khoác [G] lên, thân nhỏ [C] nhoi.<br>
						<br>
						[Am] Bên em đang có ta, hát về [Em] em tương lai xót xa<br>
						Hát dùm [Dm] em cơn mơ thiết [F] tha, giấc mơ tuổi [C] hoa<br>
						[Am] Bên em đang có ta, thống thiết kêu [Em] van lương tâm thế gian<br>
						Cứu vớt em [Dm] rời khỏi ngày u [G] ám, giữa khu trại [Em] giam<br>
						[Gm] Khóc trong lầm [Dm] than [Fm] khóc trong trại [G] giam.<br>
						<br>
						[C] Khi con tim thế [Em] nhân, chưa thờ [Dm] ơ, chưa lạnh [Am] lùng<br>
						Thì cùng [Dm] nhau đêm nay hát [G] lên, lời hát [C] chung<br>
						Cho em tôi héo [Em] hon, đang ngửa [Dm] tay xin tình [Am] người<br>
						Dòng lệ [Dm] rơi trên đôi má [G] khô trong lẻ [C] loi.</div>
						<br>
						------------------------------
						<br>
						<strong>+ Tone ca sĩ:<br></strong>
						- Hợp ca&nbsp;[C]&nbsp;- Hợp ca Asia&nbsp;[C]&nbsp;<br> <br><br>
						<div><em>Nguồn: http://hopamviet.com/chord/song/ben-em-dang-co-ta/W8IUIC6B.html</em></div>
					</article>

					<article id="dauchandiadang">
						<h2>Dấu chân địa đàng (Tiếng hát Dạ Lan)</h2>
						<p><strong>Sáng tác: Trịnh Công Sơn</strong></p>
						<div>1. Trời buông [Dm] gió và [Gm] mây về ngang bên [Dm] lưng đèo<br>
						Mùa xanh [Gm] lá, loài [Bb] sâu ngủ quên trong tận [Gm] chiều<br>
						Cuộc đời [Dm] đó lửa đem tiến [Gm] ca lên như than [Dm] phiền<br>
						Bàng hoàng lạc gió mây [Gm] miền, trùng trùng ngoài khơi nước [A7] lên sóng mềm<br>
						<br>
						2. Ngựa buông [Dm] vó người [Gm] đi chùng chân đã [Dm] bao lần<br>
						Nửa đêm [Gm] đó lời [Bb] ca Dạ Lan như ngại [Gm] ngùng<br>
						Vùng u [Dm] tối, loài sâu hát [Gm] lên khúc ca cuối [Dm] cùng<br>
						Một đời bỏ ngõ đêm [Gm] hồng, ngoài trời còn dâng nước [A7] lên mắt [Dm] em<br>
						<br>
						ĐK; Tiếng ca bắt [Dm] nguồn từ đất [Gm] khô<br>
						Từ mưa [Dm] gió từ vào trong đá [Gm] xưa đến bây [Bb] giờ<br>
						Mắt đã [C] mù tóc [Dm] xanh đen vần tráng [Gm] thơ<br>
						Dòng sông [A7] đó loài [Dm] rong yên ngủ [C] sâu<br>
						Mới hôm [Bb] nào bão trên [A7] đầu, lời [Gm] ca đâu trên [A7] cao<br>
						<br>
						3. Ngàn mây [Dm] xám chiều [Gm] nay về đây treo [Dm] lững lờ<br>
						Và tiếng [Gm] hát về [Bb] ru mình trong giấc ngủ [Gm] vùi<br>
						Rồi từ [Dm] đó loài sâu nửa [Gm] đêm quên đi ưu [Dm] phiền<br>
						Để người về hát đêm [Gm] hồng địa đàng còn in dấu [A7] chân bước [Dm] quên.</div>
						<br>
						------------------------------
						<br>
						<strong>+ Tone ca sĩ:<br></strong>
						- Khánh Ly&nbsp;[Dm]&nbsp;- Quang Dũng&nbsp;[Am]&nbsp;<br>- Thái Hòa&nbsp;[Am]&nbsp;- Ánh Tuyết&nbsp;[Dm]&nbsp; <br><br>
						<div><em>Nguồn: http://hopamviet.com/chord/song/dau-chan-dia-dang/W8IUI09Z.html</em></div>
					</article>
					
					<article id="nhumotloichiatay">
						<h2>Như một lời chia tay </h2>
						<p><strong>Sáng tác: Trịnh Công Sơn</strong></p>
						<div>1. Những hẹn [D] h&ograve; từ nay kh&eacute;p lại, th&acirc;n [Em] nhẹ nh&agrave;ng như m&acirc;y <br/>
						Ch&uacute;t nắng [D] v&agrave;ng giờ đ&acirc;y cũng [A] vội, kh&eacute;p lại từng đ&ecirc;m [A7] vui <br/>
						<br/>
						Đường quen [D] lối từng sớm chiều [A] mong, b&agrave;n ch&acirc;n xưa qua đ&acirc;y ngại [D] ngần <br/>
						L&agrave;m sao [Bm] biết từng nỗi đời [A7] ri&ecirc;ng, để y&ecirc;u th&ecirc;m y&ecirc;u cho nồng [D] n&agrave;n <br/>
						<br/>
						ĐK: C&oacute; nụ [D] hồng ng&agrave;y xưa rớt lại, b&ecirc;n [Em] cạnh đời t&ocirc;i đ&acirc;y <br/>
						C&oacute; ch&uacute;t [D] t&igrave;nh thoảng như gi&oacute; [A7] vội, t&ocirc;i chợt nh&igrave;n ra [D] t&ocirc;i <br/>
						<br/>
						Muốn một [D] lần tạ ơn với đời, ch&uacute;t [Em] mặn nồng cho t&ocirc;i <br/>
						C&oacute; những [D] lần nằm nghe tiếng [A] cười, nhưng chỉ l&agrave; mơ [A7] th&ocirc;i <br/>
						<br/>
						2. T&igrave;nh như [D] nắng vội tắt chiều [A] h&ocirc;m, t&igrave;nh kh&ocirc;ng xa nhưng kh&ocirc;ng [D] thật gần <br/>
						T&igrave;nh như [Bm] đ&aacute; ho&agrave;i nỗi chờ [A7] mong, t&igrave;nh ngu ngơ cho ta muộn [D] phiền <br/>
						<br/>
						Tiếng th&igrave; [D] thầm từng đ&ecirc;m nhớ lại ngỡ [Em] chỉ l&agrave; cơn say <br/>
						Đ&oacute;a hoa [D] v&agrave;ng mỏng manh cuối [A7] trời, như một lời chia [D] tay<br/>
						</div>
						<br/>
						------------------------------
						<br/>
						<strong>+ Tone ca sĩ:<br/></strong>
						- Khánh Ly&nbsp;[D]&nbsp;- Quang Dũng & Hồng Nhung&nbsp;[F]&nbsp;<br/>- Trịnh Công Sơn&nbsp;[A]&nbsp;- Tuấn Ngọc&nbsp;[Bb]&nbsp; <br/><br/>
						<div><em>Nguồn: http://hopamviet.com/chord/song/nhu-mot-loi-chia-tay/W8IUI7DO.html</em></div>
					</article>
					
					<article id="riengmotgoctroi">
						<h2>Riêng một góc trời </h2>
						<p><strong>Sáng tác: Ngô Thụy Miên</strong></p>
						<div>1. T&igrave;nh y&ecirc;u như [Am] nắng, nắng đưa em về b&ecirc;n gi&ograve;ng suối [E7] mơ <br/>
						Nhẹ vương theo [Am] gi&oacute;, gi&oacute; mang c&acirc;u [A7] thề xa rời chốn [Dm] xưa<br/>
						T&igrave;nh như l&aacute; [E7] u&aacute; rơi [C] buồn trong nỗi [E7] nhớ [Am]<br/>
						Mưa vẫn mưa [Dm] rơi, m&acirc;y vẫn m&acirc;y [F] tr&ocirc;i, hắt hiu t&igrave;nh [E7] t&ocirc;i<br/>
						<br/>
						2. Người vui b&ecirc;n [Am] ấy x&oacute;t xa nơi n&agrave;y thương h&igrave;nh d&aacute;ng [E7] ai <br/>
						V&ograve;ng tay tiếc [Am] nuối bước ch&acirc;n &acirc;m [A7] thầm nghe giọt nắng [Dm] phai <br/>
						Đời như sương [E7] kh&oacute;i mơ [C] hồ trong b&oacute;ng [E7] tối [Am]<br/>
						Em đ&atilde; xa [Dm] x&ocirc;i t&ocirc;i vẫn chơi [F] vơi ri&ecirc;ng một g&oacute;c [Am] trời <br/>
						<br/>
						ĐK: Người y&ecirc;u [Am] dấu người y&ecirc;u dấu [F] hỡi <br/>
						Khi m&ugrave;a [E7] xu&acirc;n vội qua chốn [A7] nơi đ&acirc;y <br/>
						Nụ h&ocirc;n đ&atilde; mơ [Dm] say bờ m&ocirc;i ướt mi [F] cay, nay c&ograve;n [E7] đ&acirc;u <br/>
						<br/>
						T&igrave;m đ&acirc;u [Am] thấy t&igrave;m đ&acirc;u thấy [F] nữa <br/>
						Khi m&ugrave;a [E7] đ&ocirc;ng về theo c&aacute;nh [A7] chim bay <br/>
						L&agrave; chia c&aacute;ch đ&ocirc;i [Dm] nơi l&agrave; hạnh ph&uacute;c r&atilde; [E7] rời, người [Am] vơi [E7]<br/>
						<br/>
						3. Một mai em [Am] nh&eacute; c&oacute; nghe thu về tr&ecirc;n h&agrave;ng l&aacute; [E7] kh&ocirc; <br/>
						Ng&agrave;n sao lấp [Am] l&aacute;nh h&aacute;t c&acirc;u mong [A7] chờ em về lối [Dm] xưa <br/>
						Hạ c&ograve;n nắng [E7] ấm thấy [C] l&ograve;ng sao buốt [Am] gi&aacute; <br/>
						Gọi t&ecirc;n em [Dm] m&atilde;i trong cơn m&ecirc; [E7] n&agrave;y m&igrave;nh nhớ thương [Am] nhau<br/>
						</div>
						<br/>
						------------------------------
						<br/>
						<strong>+ Tone ca sĩ:<br/></strong>
						- Tuấn Ngọc&nbsp;[C#m]&nbsp;- Sĩ Phú&nbsp;[Cm]&nbsp;<br/>- Thanh Hà&nbsp;[Am]&nbsp;- Elvis Phương&nbsp;[Bm]&nbsp; <br/><br/>
						<div><em>Nguồn: http://hopamviet.com/chord/song/rieng-mot-goc-troi/W8IUI0IC.html</em></div>
					</article>

					<article id="thuongnhaungaymua">
						<h2>Thương nhau ngày mưa </h2>
						<p><strong>Sáng tác: Nguyễn Trung Cang</strong></p>
						<div>1. [Am] Khi mặt [Dm] trời vắng b&oacute;ng<br/>
						Khi lời [C] nguyền khuất [Am] lấp <br/>
						Nghe lạc [G] lo&agrave;i kiếp [G7] sống sao mỏi [C] mong [E7] <br/>
						Như giọt [Dm] buồn nước mắt<br/>
						Mưa ngại [C] ng&ugrave;ng h&eacute;o [Am] hắt <br/>
						Thương người [G] về buốt [G7] gi&aacute; tr&ecirc;n đường [C] xa [E7] <br/>
						<br/>
						2. Bao l&agrave; [Dm] t&igrave;nh thắm thiết<br/>
						Cho giờ [C] n&agrave;y nuối [Am] tiếc <br/>
						Thương nhiều [G] rồi cũng [G7] c&aacute;ch xa m&agrave; [C] th&ocirc;i [E7] <br/>
						Mưa từng [Dm] ng&agrave;y thiết [G] tha<br/>
						Mưa b&agrave;ng [C] ho&agrave;ng x&oacute;t [Am] xa <br/>
						C&ograve;n mưa [F] m&atilde;i giữa bơ [E7] vơ đắm trong [Am] mơ [E7] [A] <br/>
						<br/>
						ĐK: Như mưa ng&agrave;y [E7] n&agrave;o, thắm ướt vai [A] em <br/>
						Như mưa ng&agrave;y [F#m] n&agrave;o, khuất lấp sao [Bm] đ&ecirc;m <br/>
						Thương em ng&agrave;y [E7] n&agrave;o kh&oacute;c ướt m&ocirc;i [A] mềm <br/>
						<br/>
						Thương nhau thật [E7] nhiều, biết mấy tin [A] y&ecirc;u <br/>
						Cho nhau trọn [F#m] t&igrave;nh dẫu c&oacute; đi&ecirc;u [Bm] linh <br/>
						Xa nhau trọn [E7] đời vẫn nhớ thương [A] nhau</div>
						<br/>
						------------------------------
						<br/>
						<strong>+ Tone ca sĩ:<br/></strong>
						- Tuấn Ngọc&nbsp;[Am]&nbsp;- Quang Dũng&nbsp;[Bm]&nbsp;<br/>- Tuấn Ngọc & Ý Lan&nbsp;[Fm]&nbsp;- Duy Quang & Ngọc Lan&nbsp;[Gm]&nbsp; <br/><br/>
						<div><em>Nguồn: http://hopamviet.com/chord/song/thuong-nhau-ngay-mua/W8IUI0ZW.html</em></div>
					</article>
				</section>
			</section>
		</section>
	</section>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
