<a href="#" ng-model="collapsed" ng-click="alert(hello)">alert</a>
<br />
<a href="#" ng-model="collapsed" ng-click="collapsed=!collapsed">Click here to <strong>Toggle (show/hide)</strong> description</a>

<div ng-show="collapsed">I am description for the above title, which was collapsed by default</div>

<hr>

<div ng-controller="MainCtrl">
	     <div id="summernote">Hello Summernote</div>
	         <button class="btn" type="button" ng-click="count = count + 1">test</button> {{count}}
		 </div>
